BOREALIS_X1_PORT=4050

BOREALIS_TCP_V6_PORT=3033
BOREALIS_HTTP_V6_PORT=6767 # virtualle, fuck you
BOREALIS_V6_TOKEN_EXPIRE=1h
BOREALIS_V6_SECRET=secret key :3

BOREALIS_HTTP_V4_PORT=3072
BOREALIS_TCP_V4_PORT=4040

BOREALIS_USERFILE=users.json
BOREALIS_IPLOG=iplog.json
BOREALIS_IPBANLIST=ipbanlist.json
BOREALIS_BANLIST=banlist.json
BOREALIS_USERSAVEINTERVAL=600 # in seconds
